

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h4 {
	padding: 0px 19px;
}

.title {
  color: black;
}

.subtitle {
  color: black; 
}

.grid {
	display: flex;
	flex-wrap: wrap;
	height: 300px;
	width: 400px;
  border: 25px solid white;
}

.quote {
	margin-top: 20px;
	background-color: var(--text-bg-color);
}
